<html>
<head>
<link rel="stylesheet" href="stylesheets/newdesign.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
$( document ).ready(function() {
    $('#period').val("<%= period %>"); 
});
</script>
</head>
<body>
<div class="container">
<h2 class="text-center">Drop a File</h2>
<form class="form-horizontal main-form"  action="/upload" method="post" enctype="multipart/form-data">
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="period">Period</label>
  <div class="col-md-4">
    <select id="period" name="period" class="form-control" required>
      <option value="">Select your class</option>
      <option value="0A">0A Programming</option>
      <option value="1">1st Programming</option>
      <option value="3">3rd Web Applications</option>
      <option value="5">5th Programming</option>
      <option value="6">6th Digital Electronics</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">First Name</label>  
  <div class="col-md-4">
  <input id="firstname" name="firstname" type="text" value="<%= firstname %>" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Last Name</label>  
  <div class="col-md-4">
  <input id="lastname" name="lastname" type="text" value="<%= lastname %>" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="secret">Secret Code</label>  
  <div class="col-md-4">
  <input id="secret" name="secret" type="password" value="<%= secret %>" placeholder="" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="assignment">Assignment</label>  
  <div class="col-md-4">
  <input id="assignment" name="assignment" placeholder="enter EXACT name given on website" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="file">File</label>
  <div class="col-md-4">
    <input id="file" name="file" class="input-file" type="file" required>
  </div>
</div>
<div class="buttondiv col-md-4 col-md-offset-4 ">
<button class="btn btn-lg btn-primary btn-block" type="submit">Drop File</button>
</div>
</form>

</div> <!-- /container -->
</body>

</html>
