h1 {
	color: green;
	font-weight: none;
	font-size: 32px;
	position: fixed;
	height: 20px;
	margin-left: 30px;
}
.error{
	color: red;
	font-size: 20px;
	height: 20px;
	margin-left: 77px;
}

.error2{
	color: red;
	font-size: 20px;
	height: 20px;
	width: 300px;
	margin-left: 55px;
}

#box {
	background-color: #15B4D6;
	width: 400px;
	height: 300px;
	border:2px solid;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
	position: absolute;
	left: 50%;
	margin: -200px;
	top: 0px;
}

#box2{
	margin-top: 50px;
	margin-left: 135px;
}

#container {
	position: absolute;
	top: 50%;
	width: 100%;
	overflow: visible;
}

form{
	padding: 10px;
}